{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css'%}?{% now "U" %}" /><!--?{% now "U" %}generats a random timestap everytime a reolad is made this allows css to update-->
    <link
      rel="stylesheet"
      href="./fontawesome-free-5.9.0-web/css/all.min.css"
    />
    <title>Home</title>
  </head>
  <body>
    <!-- navbar  -->
    <div class="navbar">
      <nav class="nav-container">
        <a href="#" class="nav-logo">
          <h2>Wordy
            <img class="hammer" src="{% static 'img/hammer.png'%}"/></h2>
        </a>
        <div class="nav-menu">
          <li class="nav-items">
            <a href="#" class="navlinks">word list</a>
          </li>
          {% comment %} <li class="nav-items">
            <a href="#" class="nav-btn">get the app</a>
          </li> {% endcomment %}
        </div>
        <li class="nav-toggle" id="mobileMenu">
          <i class="fas fa-bars"></i>
        </li>
      </nav>
    </div>
    <!-- end of navbar -->
    <!--hero section  -->
    <section class="hero-container row">
      <div class="hero-title">
        Anagram
        <span> Solver</span>
      </div>
      <!-- search box section -->

      <div class="hero-search">

        <form method="post">
          {% csrf_token %}
            <input type="text" class="input" name="searched_word" placeholder="search...." />
        </form>
      </div>
      <!-- end of search box section -->
      
      <!-- start of output section -->
      <ul class="results-section">
        {% for word in words_list %}
          <li class="words">{{word}}</li>
        {% endfor %}
      </ul>
      <!-- end of output section -->

    </section>
    <!-- end of hero section 
    <footer class="footer row">
       footer icons
      <div class="footer-icons">
        <a href="https://twitter.com/JosephBusayo9"  class="footer-icon">
          <ii class="fab fa-facebook"> <img class="icons" src="{% static 'img/twitter.png'%}"/> </ii>
        </a>
        <a href="https://github.com/JosephBusayo/JosephBusayo" target="_blank" class="footer-icon">
          <ii class="fab fa-squarespace"> <img class="icons" src="{% static 'img/github.png'%}"/> </ii>
        </a>
        <a href="#" target="_blank" class="footer-icon">
          <ii class="fab fa-twitter"></ii>
        </a>
      </div>

      end of footer icons 
      <p class="copyright">
        copyright &copy; Anagram solver
        <span id="date">2021</span>
      </p>
    </footer> -->

    <script src="static/app.js"></script>
  </body>
</html>
