<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/style.css" />
    <link
      rel="stylesheet"
      href="./fontawesome-free-5.9.0-web/css/all.min.css"
    />
    <title>Anagram Project</title>
  </head>
  <body>
    <!-- navbar  -->
    <div class="navbar">
      <nav class="nav-container">
        <a href="#" class="nav-logo">
          <h2>Anagram</h2>
        </a>
        <div class="nav-menu">
          <li class="nav-items">
            <a href="#" class="navlinks">word list</a>
          </li>
          <li class="nav-items">
            <a href="#" class="nav-btn">get the app</a>
          </li>
        </div>
        <li class="nav-toggle" id="mobileMenu">
          <i class="fas fa-bars"></i>
        </li>
      </nav>
    </div>
    <!-- end of navbar -->
    <!--hero section  -->
    <section class="hero-container row">
      <div class="hero-title">
        Anagram
        <span>solver</span>
      </div>
      <p class="hero-text">find random words</p>
      <!-- search box section -->

      <div class="hero-search">
        <input type="text" class="input" placeholder="search...." />
        <div class="search-btn">
          <i class="fas fa-search"></i>
        </div>
      </div>

      <!-- end of search box section -->
      <!-- four buttons section -->

      <div class="buttons">
        <div class="btn-1">
          <input type="text" class="btn-input" placeholder="Start.." />
        </div>
        <div class="btn-1">
          <input type="text" class="btn-input" placeholder="End.." />
        </div>
        <div class="btn-1">
          <input type="text" class="btn-input" placeholder="Contain.." />
        </div>
        <div class="btn-1">
          <input type="text" class="btn-input" placeholder="Length.." />
        </div>
      </div>

      <!-- end of four button section -->
    </section>
    <!-- end of hero section -->
    <footer class="footer row">
      <!-- footer links -->
      <div class="footer-links">
        <a href="#" class="footer-link">advertising</a>
        <a href="#" class="footer-link">about</a>
        <a href="#" class="footer-link">business</a>
        <a href="#" class="footer-link">setting</a>
      </div>
      <!-- end of footer links -->
      <!-- footer icons -->
      <div class="footer-icons">
        <a href="https://www.twitter.com" target="_blank" class="footer-icon">
          <ii class="fab fa-facebook"></ii>
        </a>
        <a href="https://www.twitter.com" target="_blank" class="footer-icon">
          <ii class="fab fa-squarespace"></ii>
        </a>
        <a href="https://www.twitter.com" target="_blank" class="footer-icon">
          <ii class="fab fa-twitter"></ii>
        </a>
      </div>

      <!-- end of footer icons -->
      <p class="copyright">
        copyright &copy; Anagram solver
        <span id="date">2021</span>
      </p>
    </footer>

    <script src="static/app.js"></script>
  </body>
</html>
